.main {
  display: flex;
  flex: 1;
}

.content {
  margin-left: 300px;
  margin-top: 100px;
  padding: 20px;
  flex: 1;
  opacity: 1;
  overflow-y: auto;
  transform: translateX(0);  /*Vị trí hiển thị mặc định */
  transition: margin-left 0.4s, opacity 0.4s ease, transform 0.4s ease;  /*Tăng thời gian để hiệu ứng mượt */
}

.content-hidden {
  opacity: 0;  
  transform: translateX(-30px);  /*Bắt đầu từ bên trái ngoài màn hình */
}


/* .content {
  margin-left: 300px;  
  margin-top: 100px;
  padding: 20px;
  flex: 1;
  opacity: 1;
  overflow-y: auto;
  transform: scale(1);  
  transition: margin-left 0.4s ease, opacity 0.4s ease, transform 0.4s ease;  
}

.content-hidden {
  opacity: 0; 
  transform: scale(0.5); 
} */
 

.content.collapsed {
  margin-left: 50px; /* Khi sidebar bị thu nhỏ */
}