.main {
  display: flex;
  flex: 1;
}

/* .content {
  margin-left: 300px;
  margin-top: 100px;
  padding: 20px;
  flex: 1;
  opacity: 1;
  overflow-y: auto;
  transform: translateX(0);  Vị trí hiển thị mặc định 
  transition: opacity 0.4s ease, transform 0.4s ease;  Tăng thời gian để hiệu ứng mượt 
}

.content-hidden {
  opacity: 0;  Bắt đầu mờ đi 
  transform: translateX(-30px);  Bắt đầu từ bên trái ngoài màn hình 
} */


.content {
  margin-left: 300px;  /*Đặt khoảng cách ngang với width của sidebar */
  margin-top: 100px;
  padding: 20px;
  flex: 1;
  opacity: 1;
  overflow-y: auto;
  transform: scale(1);  /*Bắt đầu với kích thước nhỏ hơn */
  transition: opacity 0.4s ease, transform 0.4s ease;  /*Thêm hiệu ứng mờ dần */
}

.content-hidden {
  opacity: 0; /*Làm mờ đi*/ 
  transform: scale(0.5);  /*Đặt kích thước nhỏ hơn khi ẩn */
}
 